[{:name    "Федор"
  :mname   "Кириллович"
  :lname   "Огарков"
  :bdate   "26.09.1973"
  :address "Россия, Северск, Юбилейная, 23, 69"
  :sex     "Male"
  :oms_num "2430751417763531"}
 {:name    "Анна"
  :mname   "Алексеевна"
  :lname   "Черкашина"
  :bdate   "06.03.1988"
  :address "Россия, Пенза, Песчаная, 2, 182"
  :sex     "Female"
  :oms_num "8688187029678375"}
 {:name    "Любовь"
  :mname   "Антоновна"
  :lname   "Горбачева"
  :bdate   "09.11.2008"
  :address "Россия, Челябинск, Мира, 17, 153"
  :sex     "Female"
  :oms_num "4009503709152341"}
 {:name    "Георгий"
  :mname   "Кузьмич"
  :lname   "Евтушенков"
  :bdate   "10.02.2008"
  :address "Россия, Коломна, Новый, 23, 150"
  :sex     "Male"
  :oms_num "4985002893954516"}
 {:name    "Петр"
  :mname   "Николаевич"
  :lname   "Иньшов"
  :bdate   "24.05.1978"
  :address "Россия, Подольск, Строителей, 18, 30"
  :sex     "Male"
  :oms_num "7855806808918715"}
 {:name    "Савва"
  :mname   "Давидович"
  :lname   "Балин"
  :bdate   "26.02.1960"
  :address "Россия, Копейск, Песчаная, 17, 32"
  :sex     "Male"
  :oms_num "5774930581450463"}
 {:name    "Кира"
  :mname   "Емельяновна"
  :lname   "Петракова"
  :bdate   "15.02.1979"
  :address "Россия, Альметьевск, Молодежный, 15, 182"
  :sex     "Female"
  :oms_num "1407569467555731"}
 {:name    "Аполлинария"
  :mname   "Максимовна"
  :lname   "Аспидова"
  :bdate   "17.11.1991"
  :address "Россия, Кострома, Песчаная, 20, 154"
  :sex     "Female"
  :oms_num "5091787514742464"}]
