{:deps   true
 :builds {:site {:target     :browser
                 :output-dir "resources/public/js"
                 :asset-path "/js"
                 ;;    :compiler-options {:output-wrapper true}
                 :modules    {:main {:entries [front.main]}}}}}
